APP_NAME=__APP_NAME__
APP_ENV=__APP_ENV__
APP_KEY=__APP_KEY__
APP_DEBUG=__APP_DEBUG__
APP_URL=__APP_URL__

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=__DB_CONNECTION__
DB_DATABASE=__DB_DATABASE__
DB_USERNAME=__DB_USERNAME__
DB_PASSWORD=__DB_PASSWORD__

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
